@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-principal:"Source Code Pro", monospace;
    --cor-amarelo: rgb(254, 194, 62);
}

body{
    background-color: var(--cor-amarelo);
}


.linha{
    width: 80%;
    height: 1px;
    background-color: rgb(65, 64, 64);
    margin-left: 10%;
    margin-top: 10px;
}

.info-usuer{
    font-family: var(--font-principal);
    color: white;
    padding: 15px;
}

.img-user{
    width: 75px;
    display: none;
    margin-left: 150px;
    border: 2px solid;
    border-radius: 50%;
    margin-top: 15px;
    background-color: white;
    height: 75px;
}

